<mat-card>
  @if (professores$ | async; as professores) {
  <table mat-table [dataSource]="professores.content" class="mat-elevation-z8">

    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef>Cpf</th>
      <td mat-cell *matCellDef="let professor">{{ professor.cpf }}</td>
    </ng-container>

    <ng-container matColumnDef="rg">
      <th mat-header-cell *matHeaderCellDef>Rg</th>
      <td mat-cell *matCellDef="let professor">{{ professor.rg }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let professor">{{ professor.email }}</td>
    </ng-container>

    <ng-container matColumnDef="emailProfissional">
      <th mat-header-cell *matHeaderCellDef>Email Profissional</th>
      <td mat-cell *matCellDef="let professor">{{ professor.emailProfissional }}</td>
    </ng-container>

    <ng-container matColumnDef="matricula">
      <th mat-header-cell *matHeaderCellDef>Matricula</th>
      <td mat-cell *matCellDef="let professor">{{ professor.matricula }}</td>
    </ng-container>

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let professor">{{ professor.nome }}</td>
    </ng-container>

    <ng-container matColumnDef="nomeSocial">
      <th mat-header-cell *matHeaderCellDef>Nome Social</th>
      <td mat-cell *matCellDef="let professor">{{ professor.nomeSocial }}</td>
    </ng-container>

    <ng-container matColumnDef="logradouro">
      <th mat-header-cell *matHeaderCellDef>Logradouro</th>
      <td mat-cell *matCellDef="let professor">{{ professor.endereco.logradouro }}</td>
    </ng-container>

    <ng-container matColumnDef="carteiraDeTrabalho">
      <th mat-header-cell *matHeaderCellDef>Carteira de Trabalho</th>
      <td mat-cell *matCellDef="let professor">{{ professor.carteiraDeTrabalho }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  }@else {
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
  }
</mat-card>
